.color_01 {
  color: #fea301;
}
.color_02 {
  color: #01acfd;
}
.color_03 {
  color: #05d4df;
}
.color_04 {
  color: #5d58ef;
}
.color_05{
    color: #808080;
}
.heading {
  max-width: 1460px;
  margin: 0 auto;
}
.nav_head {
  gap: 186px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_left img {
  margin-right: 15px;
}
.nav_head h1 {
  font-size: 2rem;
  font-weight: bold;
}
.nav_middle {
  width: 387px;
  display: flex;
}
.nav_middle li {
  list-style: none;
  margin-right: 32px;
  font-size: 1.25rem;
  font-weight: bold;
}
.nav_right button {
  width: 197px;
  height: 50px;
  background-color: orange;
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
  border-radius: 12px;
  border: none;
}
.option{
    display: none;
}

.hr{
    width: 100%;
    border: 0.1px solid rgb(248, 220, 168);
    display: none;
}
.hero_section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.hero_section_info {
  width: 800px;
}
.hero_section_info h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
.hero_section_info p {
  font-size: 1.25rem;
}
.basic_btn {
  width: 197px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
}
.hero_section img {
  width: 468.81px;
}
main{
    width: 100%;
    text-align: center;
}
.curriculum{
    background-image: url("assets/bg.png");

}
.curriculum_heading{
    margin: 60px 0 80px 0;
    font-size: 2.8rem;
}
.curriculum_cards{
    display: grid;
    grid-template-columns: repeat(3,368px);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;

}
.curriculum_card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 368px;
    height: 477px;
    background-color: #DEF5FF;
    padding: 15px;
}
.curriculum_card img{
    margin-top: 53px;
    width: 137px;
    height: 137px;
    margin-bottom: 32px;
}
.curriculum_card h1{
    font-size: 1.5rem;
    font-weight: bold;
}c
.curriculum_card p{
    margin-bottom: 34px;
    font-size: 0.9rem;
}
.curriculum_card h2{
    margin-bottom:  54px;
    font-size: 0.9rem;
}
















@media screen and (max-width:576px) {
    
.nav_left h1{
    display: none;
}
.nav_middle{
    display: none;
}
.nav_right{
    display: none;
}
.option{
    display: inline;
}
.hr{
    display: inline-block;
}
.hero_section{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.hero_section img{
 width: 336px;
 height: 413px;
 margin-left: 0;
}
.hero_section_info{
    text-align: center;
}
.hero_section_info h1{
    font-size: 2rem;
    margin-bottom: 18px;
}
.hero_section_info p{
    margin-left: 220px;
    font-size: 0.8rem;
    max-width: 357px;
    text-wrap: wrap;
}
.curriculum_heading{
    font-size: 1.6rem;
}
.curriculum_cards{
    grid-template-columns: repeat(1,357px);
    gap: 20px;
}
.curriculum_card{
    width: 327px;
    height: 420px;
   
}
.arrow{
display: none;
}
}
